@font-face {
  font-family: 'MyFont';
  src:  url('SingleMalta.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png') right center no-repeat;
  background-size: contain;
}